<!DOCTYPE html>
<html lang="en">
<%- include('partial/head')  %> 
<body> 
    <style>
        body{
            background-color: black; 
            color: white;
            opacity: 1.0;
            position: relative;
            
            
        }
        .container-fluid{
            padding: 1% 20%;
            color:white;
        }
    </style>
<div class="container-fluid">
    <h2 class="text-center mt-5">Input Game Result</h2>
    <form action="/play/inputresult/<%= user %>" method="POST">
        <div class="mb-3">
          <label for="exampleInputWin" class="form-label">Win</label>
          <input type="win" class="form-control" name="win" value="<%= userHistory.win %>">
        </div>
        <div class="mb-3">
            <label for="exampleInputDraw" class="form-label">Draw</label>
            <input type="draw" class="form-control" name="draw" value="<%= userHistory.draw %>">
          </div>
          <div class="mb-3">
            <label for="exampleInputLose" class="form-label">Lose</label>
            <input type="lose" class="form-control" name="lose" value="<%= userHistory.lose%>">
          </div>
        <button class="btn btn-primary">Save Result</button>
    </form>
</div>
</body>
